<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="history-container">

        <h1>📜 Translation History</h1>

        {% if history %}

            {% for line in history %}

                <div class="history-card">

                    {{ line }}

                </div>

            {% endfor %}

        {% else %}

            <div class="history-card">

                No History Found

            </div>

        {% endif %}

        <br>

        <button onclick="window.location='/'">

            ⬅ Back

        </button>

    </div>

</body>

</html>