<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Sign Language Translator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1>🤟 AI Sign Language Translator</h1>

    <div class="main">

        <!-- Camera -->

        <div class="camera">

            <img
                src="{{ url_for('video') }}"
                id="video"
                alt="Camera Feed">

        </div>

        <!-- Right Panel -->

        <div class="info">

            <div class="card">

                <h2>Prediction</h2>

                <h1 id="label">Waiting...</h1>

            </div>

            <div class="card">

                <h2>Confidence</h2>

                <h2 id="confidence">0%</h2>

                <div class="progress">

                    <div
                        class="progress-fill"
                        id="progress">

                    </div>

                </div>

            </div>

            <div class="card">

                <h2>Current Word</h2>

                <h2 id="word"></h2>

            </div>

            <div class="card">

                <h2>Sentence</h2>

                <h2 id="sentence"></h2>

            </div>

            <div class="buttons">

                <button id="speakBtn">
                    🔊 Speak
                </button>

                <button id="clearBtn">
                    🗑 Clear
                </button>

                <button id="saveBtn">
                    💾 Save
                </button>

                <button
                    onclick="window.location='/history'">

                    📜 History

                </button>

            </div>

        </div>

    </div>

    <script src="{{ url_for('static',
    filename='js/script.js') }}"></script>

</body>

</html>